div.form-container{
  display: inline-block;
  border: 4px ridge grey;
  width: 280px; 
  border-radius:10px;
  margin:10px;
}
p.form-header{
  margin:0px;
  font: 24px bold;
  color:white;  background:maroon;
  text-align:center;
}
form{
  margin:10px;
}
label{ width:80px; display: inline-block;}
input{
  border: 3px ridge black;
  border-radius:5px;
  padding:3px;
}
input[type=submit]{
  font: 18px bold;
  width: 120px;
  color:white;  background:maroon;
  margin-top:15px;
  margin-left:85px;
}

#Mainheading {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  color: maroon;
}
#studentlist {background-color: white; border: 2px solid grey; margin: 5px;}
#leftcolumn {background-color: rgba(128,0,0,0.8); width: 30%; border: 1px solid maroon; float: left;}
#rightcolumn {background-color: rgba(128,0,0,0.8); width: 65%; border: 1px solid maroon; float: right;}
#detaileditem {background-color: white; border: 2px solid grey; margin: 5px;}
.clearfix { clear: both;}